.top-nav {
  position: fixed;
  inset: 0;
  min-height: 42px;
  z-index: 9999;
  width: 100%;
  background-color: $accent-color;
  overflow-y: hidden;

  @include below($mobile-width-only) {
    &--closed {
      display: none;
    }

    &--opened {
      position: absolute;
      top: -50%;
      right: 0;
      left: 70px;
      z-index: 10;
      min-height: 30vh;
      background-color: $main-grey;

      .top-nav__item--mail {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      .top-nav__item {
        a,
        button {
          position: relative;
          display: block;
          padding: 12px 21px;
          padding-bottom: 13px;
          font-size: 18px;
          line-height: 24px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          background-color: $accent-color;
          border-top: 1px solid $basic-dark-blue-9;
          border-bottom: 1px solid $basic-dark-blue-9;
        }
      }
    }

    &--nojs {
      display: block;
    }
  }

  @include above($tablet-width) {
    position: relative;
    background-color: $basic-white;
    display: flex;
    justify-content: end;
  }
}

.top-nav__item {
  &--mail {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 17px;
      height: 20px;
      background: url("../img/icon/mail-icon.svg") no-repeat;
      z-index: 999;
    }
  }

  @include above($tablet-width) {
    padding-right: 25px;
  }
}

.top-nav__link {
  @include font-size (14px, 22px, 400);
  color: $basic-white;
  border: none;
  cursor: pointer;

  @include above ($tablet-width) {
    color: $accent-color;

    &:hover{
      color: $basic-grey;
    }
  }
}
